<div class="container" style="margin-top: 25px">
  <div style="background-color: #a9c6d657 ; padding-bottom: 5px;">
    <select
      class="form-select"
      aria-label="Default select example"
      style="
        width: auto;
        display: inline-block;
        margin: 30px;
        margin-bottom: 10px;
      "
    >
      <option selected>Choose the language of the text</option>
      <option value="1">One</option>
      <option value="2">Two</option>
    </select>
    <button
      type="button"
      class="btn btn-warning"
      style="margin-bottom: 10px; display: inline-block"
    >
      auto detect
    </button>
  

  <div
    class="md-form mb-4 pink-textarea active-pink-textarea-2"
    style="width: auto; margin: 30px; margin-top: 10px; margin-bottom: 10px"
  >
    <h3>
      <label class="badge bg-primary" style="color: #ffffff">Enter text</label>
    </h3>
    <textarea id="form17" class="md-textarea form-control" rows="3"></textarea>
  </div>
  
</div>
  <div style="background-color: #a9c6d6; padding-bottom: 5px;">
    <select
      class="form-select"
      style="
        width: auto;
        margin: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
      "
      aria-label="Default select example"
    >
      <option selected>Choose your language</option>
      <option value="1">One</option>
      <option value="2">Two</option>
    </select>
    <button
      type="button"
      class="btn btn-success"
      style="display: inline-block; margin-bottom: 10px"
    >
      Translate
    </button>

    <div
      class="md-form mb-4 pink-textarea active-pink-textarea-2"
      style="margin: 30px; margin-top: 10px; margin-bottom: 10px"
    >
      <h3>
        <label class="badge bg-primary" style="color: #ffffff">Result</label>
      </h3>
      <textarea
        id="form17"
        class="md-textarea form-control"
        rows="3"
      ></textarea>
    </div>
  </div>
</div>
