<div class="card" style="width: 15rem; margin-left:20px; background-color: #4a7fc5cc;">
    <div class="card-body">
      <h5 class="card-title">Previous Translations</h5>
    </div>
</div>

<ul class="list-group" style="width: 15rem; display: inline-block; margin-left:50px; padding-top:10px">
    <li class="list-group-item" style="background-color:#e2e3e5; ">From </li>
    <li class="list-group-item" style="background-color:#d3d3d4; ">To </li>
</ul>

<ul class="list-group" style="width: 15rem; display: inline-block ; margin-left:50px; padding-top:10px">
    <li class="list-group-item" style="background-color:#e2e3e5; ">From </li>
    <li class="list-group-item" style="background-color:#d3d3d4; ">To </li>
</ul>

<ul class="list-group" style="width: 15rem; display: inline-block; margin-left:50px; padding-top:10px">
    <li class="list-group-item" style="background-color:#e2e3e5; ">From </li>
    <li class="list-group-item" style="background-color:#d3d3d4; ">To </li>
</ul>

<ul class="list-group" style="width: 15rem; display: inline-block; margin-left:50px;padding-top:10px">
    <li class="list-group-item" style="background-color:#e2e3e5; ">From </li>
    <li class="list-group-item" style="background-color:#d3d3d4; ">To </li>
</ul>

<ul class="list-group" style="width: 15rem; display: inline-block; margin-left:50px;padding-top:10px">
    <li class="list-group-item" style="background-color:#e2e3e5; ">From </li>
    <li class="list-group-item" style="background-color:#d3d3d4; ">To </li>
</ul>

<ul class="list-group" style="width: 15rem; display: inline-block; margin-left:50px;padding-top:10px">
    <li class="list-group-item" style="background-color:#e2e3e5; ">From </li>
    <li class="list-group-item" style="background-color:#d3d3d4; ">To </li>
</ul>

